<template>
  <div class="sql-js">
    <div className="App">
      <h2>Дано: созданная таблица и (или) добавленные данные</h2>
      <codemirror v-model="createTableCode" :options="cmInitOptions" />
      <div
        style="display: flex; justify-content: space-between; margin-top: 24px"
      >
        <div style="width: 48%">
          <h3>Задание:</h3>
          <p>Определить количество работников,<br>чья зарплата ниже 30 000</p>
          <codemirror v-model="code" :options="cmOptions" />
          <button @click="check">Check</button>
        </div>
        <div style="width: 48%">
          <h3>Результаты:</h3>
          <pre className="error">{{ (err || "").toString() }}</pre>

          <pre v-if="results">
            <table v-for="(result, idx) in results" :key="`res-${idx}`">
              <thead>
                <tr>
                    <td v-for="(col, idx) in result.columns" :key="`col-${idx}`">{{col}}</td>
                </tr>
              </thead>
              <tbody>
                  <tr v-for="(values, idx) in result.values" :key="`values-${idx}`">
                      <td v-for="(val, idx) in values" :key="`val-${idx}`">{{val}}</td>
                  </tr>
              </tbody>
            </table>
          </pre>
          <b v-if="isCorrect" style="color: green">Correct!</b>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import initSqlJs from "sql.js";
import "codemirror/theme/base16-dark.css";
import "codemirror/mode/sql/sql";
import "codemirror/lib/codemirror.css";

export default {
  name: "SqlJsTest",
  data: () => {
    return {
      db: null,
      err: null,
      results: null,
      createTableCode: `
DROP TABLE IF EXISTS employees;
CREATE TABLE employees( id          integer,  name    text,
                          designation text,     manager integer,
                          hired_on    date,     salary  integer,
                          commission  float,    dept    integer);

  INSERT INTO employees VALUES (1,'JOHNSON','ADMIN',6,'1990-12-17',18000,NULL,4);
  INSERT INTO employees VALUES (2,'HARDING','MANAGER',9,'1998-02-02',52000,300,3);
  INSERT INTO employees VALUES (3,'TAFT','SALES I',2,'1996-01-02',25000,500,3);
  INSERT INTO employees VALUES (4,'HOOVER','SALES I',2,'1990-04-02',27000,NULL,3);
  INSERT INTO employees VALUES (5,'LINCOLN','TECH',6,'1994-06-23',22500,1400,4);
  INSERT INTO employees VALUES (6,'GARFIELD','MANAGER',9,'1993-05-01',54000,NULL,4);
  INSERT INTO employees VALUES (7,'POLK','TECH',6,'1997-09-22',25000,NULL,4);
  INSERT INTO employees VALUES (8,'GRANT','ENGINEER',10,'1997-03-30',32000,NULL,2);
  INSERT INTO employees VALUES (9,'JACKSON','CEO',NULL,'1990-01-01',75000,NULL,4);
  INSERT INTO employees VALUES (10,'FILLMORE','MANAGER',9,'1994-08-09',56000,NULL,2);
  INSERT INTO employees VALUES (11,'ADAMS','ENGINEER',10,'1996-03-15',34000,NULL,2);
  INSERT INTO employees VALUES (12,'WASHINGTON','ADMIN',6,'1998-04-16',18000,NULL,4);
  INSERT INTO employees VALUES (13,'MONROE','ENGINEER',10,'2000-12-03',30000,NULL,2);
  INSERT INTO employees VALUES (14,'ROOSEVELT','CPA',9,'1995-10-12',35000,NULL,1);`,
      code: `
select count(*) from employees
  where salary < 30000;
`,
      cmInitOptions: {
        tabSize: 4,
        mode: "text/x-sql",
        theme: "base16-dark",
        lineNumbers: true,
        line: true,
        readOnly: true,
      },
      cmOptions: {
        tabSize: 4,
        mode: "text/x-sql",
        theme: "base16-dark",
        lineNumbers: true,
        line: true,
      },
      rightAnswer: 6,
      isCorrect: undefined,
    };
  },
  created() {
    initSqlJs({ locateFile: () => "/js/sql-wasm.wasm" })
      .then((SQL) => {
        this.db = new SQL.Database();
      })
      .then(() => {
        console.log("db", this.db);
        this.db.exec(this.createTableCode);
      })
      .catch((err) => {
        console.log("err", err);
        this.err = err;
      });
  },
  methods: {
    check() {
      this.isCorrect = undefined;
      this.exec(this.code);
      if (this.results[0]?.values[0][0] === this.rightAnswer) {
        this.isCorrect = true;
      }
    },
    exec(sql) {
      this.results = null;
      this.err = null;
      try {
        // The sql is executed synchronously on the UI thread.
        // You may want to use a web worker
        this.results = this.db.exec(sql); // an array of objects is returned
      } catch (e) {
        // exec throws an error when the SQL statement is invalid
        this.err = e;
      }
    },
  },
  watch: {},
};
</script>

<style>
table td {
  border: 1px solid black;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
</style>
