<template>
  <div id="app">
    <sql-js-test />
  </div>
</template>

<script>
import SqlJsTest from './components/SqlJsTest.vue'

export default {
  name: 'App',
  components: {
    SqlJsTest
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
